.coverage
doc/.ipynb_checkpoints*
doc/source/.ipynb_checkpoints*
doc/source/example_session*_files/*
*.egg-info
*.swo
*.swp
*.pyc
*.c
*.so
build/*
dist/*
doc/build/*
metaseq/test/examples/example_tsses.gtf
doc/source/autodocs
doc/source/README.rst

# example files downloaded with download_data.py script:
#
metaseq/test/data/Homo_sapiens.GRCh37.66_chr17.gtf.gz
metaseq/test/data/Homo_sapiens.GRCh37.66.chr17.gtf.db
metaseq/test/data/wgEncodeHaibTfbsK562Atf3V0416101AlnRep1_chr17.bam
metaseq/test/data/wgEncodeHaibTfbsK562Atf3V0416101AlnRep1_chr17.bam.bai
metaseq/test/data/wgEncodeHaibTfbsK562Atf3V0416101AlnRep1_chr17.bam.scale
metaseq/test/data/wgEncodeHaibTfbsK562Atf3V0416101RawRep1_chr17.bigWig
metaseq/test/data/wgEncodeHaibTfbsK562RxlchV0416101AlnRep1_chr17.bam
metaseq/test/data/wgEncodeHaibTfbsK562RxlchV0416101AlnRep1_chr17.bam.bai
metaseq/test/data/wgEncodeHaibTfbsK562RxlchV0416101RawRep1_chr17.bigWig
metaseq/test/data/GSM847565_SL2585.bw
metaseq/test/data/GSM847565_SL2585.gtf.gz
metaseq/test/data/GSM847565_SL2585.table
metaseq/test/data/GSM847566_SL2592.bw
metaseq/test/data/GSM847566_SL2592.gtf.gz
metaseq/test/data/GSM847566_SL2592.table
metaseq/test/data/GSM847567_SL4337.bw
metaseq/test/data/GSM847567_SL4337.gtf.gz
metaseq/test/data/GSM847567_SL4337.table
metaseq/test/data/GSM847568_SL4326.bw
metaseq/test/data/GSM847568_SL4326.gtf.gz
metaseq/test/data/GSM847568_SL4326.table
