.reveal .slides code {
	color: #828282;
	font-weight: bold;
}

.reveal .slides li {
	line-height: 1.5em;
}

.reveal .slides .example {
	font-style: italic;
}

.reveal .slides .highlight {
    font-size: 90%;
}

.reveal section img {
    margin: 0px;
}
